@model MvcStok.Models.Entity.tblmusteri
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("MusteriGuncelle", "Musteri", FormMethod.Post))
{
    <h2>Müşteri Güncelleme</h2>
    @Html.HiddenFor(x => x.id, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.soyad, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.sehir, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.bakiye, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
}

