@model MvcStok.Models.Entity.tblurunler
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{
    <h2>Ürün Güncelleme</h2>
    @Html.HiddenFor(x => x.id, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.marka, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.stok, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.alişfiyat, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.satişfiyat, new { @class = "form-control" })
    <br />
    @Html.DropDownListFor(x => x.tblkategori.id, (List<SelectListItem>)ViewBag.urunkategori, new { @class = "form-control" })
    <br />

    <button class="btn btn-warning">Güncelle</button>
}



