@model MvcStok.Models.Entity.tblurunler
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h2>Yeni Kategori Ekleme</h2>
    <br />
    <label>Ürün Adı</label>
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
    <br / />

    <label>Marka</label>
    @Html.TextBoxFor(x => x.marka, new { @class = "form-control" })

    <br />

    <label>Stok</label>
    @Html.TextBoxFor(x => x.stok, new { @class = "form-control" })

    <br />


    <label>Alış Fiyat</label>
    @Html.TextBoxFor(x => x.alişfiyat, new { @class = "form-control" })

    <br />

    <label>Satış Fiyat</label>
    @Html.TextBoxFor(x => x.satişfiyat, new { @class = "form-control" })

    <br />

    <label>Kategori</label>
     @Html.DropDownListFor(x=>x.tblkategori.id,(List<SelectListItem>)ViewBag.drop, new {@class="form-control" })
    <br />


    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

